@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-page-bg: oklch(98.2% 0.018 155.826); /* green-50 background */
    --color-primary-text: oklch(13% 0.028 261.692);/* black*/
    
    --font-pixelify_bold: "Pixelify_Sans",san-serif;
    --font-doto_semibold : "Doto", san-serif;
}


@layer base{
    .dark{
          --color-page-bg: oklch(21% 0.006 285.885);
          --color-primary-text: oklch(98.5% 0 0); /* white*/
    }
  
}

@font-face {
    font-family: 'Pixelify_Sans';
    src: url(/assets/fonts/Pixelify_Sans/static/PixelifySans-Bold.ttf)format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Doto";
    src: url(/assets/fonts/Doto/static/Doto-SemiBold.ttf)format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


.project-drawing{
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
}
