@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-page-bg: oklch(98.2% 0.018 155.826); /* green-50 background */
    --color-primary-text: oklch(13% 0.028 261.692)/* black*/
    
}


@layer base{
    .dark{
          --color-page-bg: oklch(21% 0.006 285.885);
          --color-primary-text: oklch(98.5% 0 0); /* white*/
    }
  
}